body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: whitesmoke;
}
.container-fluid{
    padding: 3% 15% 7%;

}
h1{
    font-family:  'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    

}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.4s all;
    
}
.navbar-brand:hover{
       transform:  rotate(15deg);
}
.nav-item{
    font-size: 1.5rem;
    transition: all 0.2s;
}
.nav-item:hover{
    /* text-decoration: underline; */
    border-bottom: 3px solid #03C988;

}
.row{
    padding-top: 4.5rem;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.5rem;
}
.img-pad{
    padding-left: 3.5rem;
    width: 60%;
    transform: rotate(25deg);
    
    
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* feature section styling */
#features{
    
    background-color: #fff;
    
   
}


h3{
    font-family: "Montserrat";
    font-size: 2rem;
}p{
    line-height: 20px;
    color: rgb(172, 160, 160);
    padding-top: 5px;

}
.col-lg-4{
    text-align: center;
    padding-bottom: 80px;
    
}
.icon{
    color: #ef8172;
    padding-bottom: 1.5rem;
}
.icon:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
}
.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/* pricing section */

/* .card-e{
    padding: 10px;
} */

#pricing{
    padding: 100px;

}
.pricing-col{
    padding: 3% 2%;
}
.pricehead{
    text-align: center;
}


/* zindex and advanced css  */

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .img-pad{
        position: static;
        transform: rotate(0);
    }
}
.cta-head{
    
    background-color: #ff4c68;
    
}
.cta-h3{
    padding: 20px;
    font-size: 3rem;
    color: #fff;
}
.cta-btn{
  margin: 5% 3% 5% 0;

}
#cta{
    text-align: center;
   
}
.footer-icon{
   
    
    padding: 25px;
}
#footer{
    text-align: center;
}
.footer-p{
    padding-bottom: 20px;
}
